@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-display: fallback;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: white;
}

form {
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12),
    0px 0px 4px 0px rgba(20, 20, 20, 0.1);
  padding: 8px 15px;
  color: rgba(31, 33, 40, 1);
  width: 370px;
  height: 326px;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

form button {
  color: rgba(31, 33, 40, 1);
  line-height: 130%;
  background: rgba(255, 206, 34, 1);
  transition: 125ms all ease-in linear;
  outline: none;
  border: none;
  height: 40px;
}

form button:hover,
form button:active {
  border: none;
  outline: none;
  background: rgba(255, 216, 77, 1);
}

.checkbox {
  border: 1px solid 1px solid rgba(205, 205, 205, 1);
}
.checkbox .selected:hover {
  background: green;
}
